<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Pacifico&display=swap&display=swap&family=Ubuntu:wght@500&display=swap&display=swap&family=Work+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <nav class="navbar">
        <div class="inner">
            <a class="brand" href="/">Sketchtiles</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/" class="navtop-home">Home</a>
                <a href="/posts">Posts</a>
                <a href="/about">Team</a>
                <a href="/login" class="login" style="display: <%=loginDisplay%>;">Log In</a>
                <a href="/signup" class="signup" style="display: <%=signupDisplay%>;">Sign Up</a>
                <a href="/profile/<%=username%>" style="display: <%=profileDisplay%>;">Profile</a>
                <a href="/logout" class="logout" style="display: <%=logoutDisplay%>;">Log Out</a>
            </div>
        </div>
    </nav>
    <h1 class="team">Team</h1>
    <div class="flexbox inner">
        <div class="tansen">
            <div class="text">
                <h1 class="name">Shrutanten</h1>
                <h3 class="post">Web Developer</h3>
                <p class="info">Also a web designer, and main contributor to the backend of this website.<br>
                This site was our first project, and it surprisingly turned out much better than expected. We are sure you will love it as well.
                After all, I specifically requested it. 
                </p>
            </div>
            <div class="pic">
                <img src="/img/tansen.jpeg" class="pfp">
                <div class="iconbar">
                    <a href="https://upload.wikimedia.org/wikipedia/en/9/9a/Trollface_non-free.png" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://youtu.be/6n3pFFPSlW4" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto:vjyji3@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/shrutanten/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="arijit">
            <div class="pic">
                <img src="/img/arijit2.jpeg" class="pfp">
                <div class="iconbar">
                    <a href="https://www.facebook.com/profile.php?id=100008012558204" target="blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/ari.jit.das/" target="blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto: adas7626@gmail.com" target="blank"><i class="far fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/arijit-das-61055a123/" target="blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="text">
                <h1 class="name">Arijit Das</h1>
                <h3 class="post">Web developer</h3>
                <p class="info">
                    It was a fun ride to make this site with both of my friends and give life to this beautiful idea❤️.
                    I am a web designer and the major contributor to the frontend and the ID authentication of the website.
                    Responsiveness was a big deal so i made sure to make it look good on your eyes. Hope you enjoy❤️.
                </p>
            </div>
        </div>
        <div class="shubham">
            <div class="text">
                <h1 class="name">Shubham</h1>
                <h3 class="post">Frontend Developer</h3>
                <p class="info">I am an amateur web developer and was learning web development throughout developing this site. So my main work was to handle frontend and give designing ideas. Hope you like it :) </p>
            </div>
            <div class="pic">
                <img src="/img/shubham2.jpeg" class="pfp">
                <div class="iconbar">
                    <a href="https://www.facebook.com/profile.php?id=100040831035967" target="_blank"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/shubham.goyal.242/"><i class="fab fa-instagram" target="_blank"></i></a>
                    <a href="mailto:vivekgoyal164@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/shubham-goyal-b392901b3/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="inner">
            <div class="foot-text">
                &copy;Sketchtiles
            </div>
            <div class="icons">
                Made with ❤️ by Shrutanten, Arijit and Shubham
            </div>
        </div>

    </footer>
    <div class="nav-btm">
        <div class="profile-nav navbtm-icon">
            <a <% if(username!="NA"){ %> href="/profile/<%=username%>" <% }else{ %> href="/login" <% } %>><i class="fas fa-user"></i></a>
        </div>
        <div class="posts-nav navbtm-icon">
            <a href="/posts"><i class="fas fa-images"></i></a>
        </div>
        <div class="add-nav navbtm-icon">
            <a href="/#posting"><i class="fas fa-plus"></i></a>
        </div>
        <div class="home-nav navbtm-icon">
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="/js/about.js"></script>
    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
</body>
</html>
