<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Great+Vibes&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <nav class="navbar">
        <div class="inner">
            <a class="brand">Sketchmarks</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/">Artists</a>
                <a href="/posts">Posts</a>
                <a href="/login" class="login" style="display: <%=loginDisplay%>;">Log In</a>
                <a href="/signup" class="signup" style="display: <%=signupDisplay%>;">Sign Up</a>
                <a href="/profile/<%=username%>" style="display: <%=profileDisplay%>;">Profile</a>
                <a href="/logout" class="logout" style="display: <%=logoutDisplay%>;">Log Out</a>

            </div>
        </div>
    </nav>
    <h1 class="team">Team</h1>
    <div class="flexbox">
        <div class="pic">
            <img src="/img/arijit1.jpg" class="pfp">
        </div>
        <div class="text">
            <h1 class="name">ARIJIT DAS</h1>
            <h3 class="post">Full Stack Developer</h3>
            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <div class="iconbar">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="far fa-envelope"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="pic">
            <img src="/img/arijit1.jpg" class="pfp">
        </div>
    </div>
    <div class="flexbox">
        <div class="text">
            <h1 class="name">SHRUTANTEN</h1>
            <h3 class="post">Full Stack Developer</h3>
            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <div class="iconbar">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="far fa-envelope"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="pic">
            <img src="/img/arijit1.jpg" class="pfp">
        </div>
        <div class="text">
            <h1 class="name">SHUBHAM</h1>
            <h3 class="post">Frontend Developer</h3>
            <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            <div class="iconbar">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="far fa-envelope"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <footer>
        <div class="inner">
            <hr>
            <div class="foot-text">
                &copy;Sketchmarks
            </div>
            <div class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>


            </div>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>
