<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketchmarks</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <!-- <nav class="navbar">
        <div class="inner">
            <ul>
                <a id="brand">Sketchmarks</a>
                <li><a href="#">Home</a></li>
                <li><a href="#">Artists</a></li>
                <li><a href="/posts">Posts</a></li>
                <li  style="display: <%=//loginDisplay%>;"><a href="/login" class="login">Log In</a></li>
                <li id="signup-li" style="display: <%=//signupDisplay%>;"><a href="/signup" class="signup">Sign Up</a></li>
                <li style="display: <%=//profileDisplay%>;"><a href="/profile/<%=//username%>">Profile</a></li>
                <li id="logout-li" style="display: <%=//logoutDisplay%>;"><a href="/logout" class="logout">Log Out</a></li>
            </ul>
        </div>
    </nav> -->
    <nav class="navbar">
        <div class="inner">
            <a class="brand">Sketchmarks</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/">Artists</a>
                <a href="/posts">Posts</a>
                <a href="/login" class="login" style="display: <%=loginDisplay%>;">Log In</a>
                <a href="/signup" class="signup" style="display: <%=signupDisplay%>;">Sign Up</a>
                <a href="/profile/<%=username%>" style="display: <%=profileDisplay%>;">Profile</a>
                <a href="/logout" class="logout" style="display: <%=logoutDisplay%>;">Log Out</a>

            </div>
        </div>
    </nav>
    <section class="landing">
        <div class="inner">
            <div class="land-main">
                <h1 id="land-name" >Sketchmarks</h1>
                <h2 id="land-desc">art that leaves marks</h2>
                <div id="land-login">
                    <a href="/login" class="land-log-btn" style="display: <%=loginDisplay%>;">Log In</a>
                    <a href="/signup" class="land-sign-btn" style="display: <%=signupDisplay%>;">Sign Up</a>
                </div>
            </div>
        </div>
    </section>
    <section class="posts">
        <div class="inner">

            <h1 class="section-head">Posts</h1>
            <!-- <img src="../img/unnamed.png" alt=""  width="100%" class="br"> -->
            <div class="click-div">    
                <img src="" alt="" id="click-div-img">
                <div class="click-div-secondary">
                    <img src="" class="secondary-img">
                </div>
                <div class="likecomm">
                    <div id="click-div-user"></div>
                    <div class="click-div-desc"></div>
                    <div class="click-div-likes">
                        <span class="like-btn"><i class="fas fa-heart" id="heart"></i></span>
                        <span class="likes-number"></span>
                        <span class="click-div-share" title="Share this post" data-clipboard-action="copy" data-clipboard-text=""><i class="fas fa-share-square"></i></span>
                    </div>
                    <div class="click-div-comments"></div>
                    <div class="comsub">
                        <textarea cols="30" rows="2" class="post-comment" placeholder="Add your comment here"></textarea>
                        <button class="post-submit" title="Post comment"><i class="fas fa-comment" id="comment-icon"></i></button>
                    </div>
                </div>

                <span id="click-div-close">&#10060;</span>
            </div>
            <!-- Header -->
            <!-- <div class="header" id="myHeader">
                <h3 class="ncolumns">Columns :</h3>
                <button class="btn" onclick="two()">2</button>
                <button class="btn active" onclick="four()">4</button>
            </div> -->

            <!-- Photo Grid -->
            <div class="row">
                <% if(recentPosts.length>11){ %>
                    <div class="column">
                        <% for(let i=0; i<3; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=3; i<6; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=6; i<9; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=9; i<12; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                <% }else{ %>
                    <% recentPosts.forEach((post)=>{ %>
                        <div class="column">
                                <img src="data:image/<%=post.img.contentType%>;base64,
                                <%=post.img.data.toString('base64')%>" style="width:100%" id="<%=post._id%>" class="click-img">
                        </div>
                    <% }) %>
                <% } %>
            </div>

        </div>
    </section>
    <section class="top-posts">
        <div class="inner">
            <h1 class="section-head">Top Tiles</h1>
            <div class="top-post-left">
                <img src="data:image/<%=topPosts[0].img.contentType%>;base64,<%=topPosts[0].img.data.toString('base64')%>" id="<%=topPosts[0]._id%>" class="top-post-img">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[0].name%>"><%=topPosts[0].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[0].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-post-likes"><%=topPosts[0].likes.likesNum%></span>
                        <% topPosts[0].comments.forEach((comment)=>{ %>
                            <div><%=comment.name%> says <%=comment.comment%></div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="top-post-right">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[1].name%>"><%=topPosts[1].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[1].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-post-likes"><%=topPosts[1].likes.likesNum%></span>
                        <% topPosts[1].comments.forEach((comment)=>{ %>
                            <div><%=comment.name%> says <%=comment.comment%></div>
                        <% }) %>
                    </div>
                </div>
                <img src="data:image/<%=topPosts[1].img.contentType%>;base64,<%=topPosts[1].img.data.toString('base64')%>" id="<%=topPosts[1]._id%>" class="top-post-img">
            </div>
            <div class="top-post-left">
                <img src="data:image/<%=topPosts[2].img.contentType%>;base64,<%=topPosts[2].img.data.toString('base64')%>" id="<%=topPosts[2]._id%>" class="top-post-img">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[2].name%>"><%=topPosts[2].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[0].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-post-likes"><%=topPosts[2].likes.likesNum%></span>
                        <% topPosts[2].comments.forEach((comment)=>{ %>
                            <div><%=comment.name%> says <%=comment.comment%></div>
                        <% }) %>
                    </div>
                </div>
            </div>
            <div class="top-post-right">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[3].name%>"><%=topPosts[3].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[0].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-post-likes"><%=topPosts[3].likes.likesNum%></span>
                        <% topPosts[3].comments.forEach((comment)=>{ %>
                            <div><%=comment.name%> says <%=comment.comment%></div>
                        <% }) %>
                    </div>
                </div>
                <img src="data:image/<%=topPosts[3].img.contentType%>;base64,<%=topPosts[3].img.data.toString('base64')%>" id="<%=topPosts[0]._id%>" class="top-post-img">
            </div>
            <div class="top-post-left">
                <img src="data:image/<%=topPosts[4].img.contentType%>;base64,<%=topPosts[4].img.data.toString('base64')%>" id="<%=topPosts[0]._id%>" class="top-post-img">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[4].name%>"><%=topPosts[4].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[0].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-post-likes"><%=topPosts[4].likes.likesNum%></span>
                        <% topPosts[4].comments.forEach((comment)=>{ %>
                            <div><%=comment.name%> says <%=comment.comment%></div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="submit">
        <div class="inner">
          <h1  id="posting">Upload Art</h1>
          <div class="submit-main">
              <form action="/submit" method="post" enctype=multipart/form-data id="submit-form">
                  <label for="post-img" id="post-label"><i class="fa fa-cloud-upload"></i> Select Image</label>
                  <input type='file' id="post-img" name="work" accept="image/*" required>
                  <img id="preview" src="#" alt="">
                  <input type="text" placeholder="Describe your work" id="sub-desc" name="desc" required>
                  <button type="submit" class="sub-btn">Submit</button>
              </form>
          </div>
        </div>
    </section>
    <footer>
        <div class="inner">
            <hr>
            <div class="foot-text">
                &copy;Sketchmarks
            </div>
            <div class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
            </div>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>
