<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sketchmarks</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/fav.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="../img/fav.png" type="image/x-icon"/>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    <nav class="navbar">
        <div class="inner">
            <a href="/" class="brand">Sketchmarks</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/" class="navtop-home">Home</a>
                <a href="/posts">Posts</a>
                <a href="/about">About</a>
                <a href="/login" class="login" style="display: <%=loginDisplay%>;">Log In</a>
                <a href="/signup" class="signup" style="display: <%=signupDisplay%>;">Sign Up</a>
                <a href="/profile/<%=username%>" style="display: <%=profileDisplay%>;">Profile</a>
                <a href="/logout" class="logout" style="display: <%=logoutDisplay%>;">Log Out</a>
                <form action="/searchprofile" method="POST">
                    <input id="searchbar" type="text" name="profile" placeholder="Go to profile">
                    <button type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <section class="landing">
        <div class="inner">
            <div class="land-main">
                <h1 id="land-name" >Sketchmarks</h1>
                <h2 id="land-desc">art that leaves marks</h2>
                <div id="land-login">
                    <a href="/login" class="land-log-btn" style="display: <%=loginDisplay%>;">Log In</a>
                    <a href="/signup" class="land-sign-btn" style="display: <%=signupDisplay%>;">Sign Up</a>
                </div>
            </div>
        </div>
    </section>
    <hr class="section-hr">
    <section class="web-desc">
        <div class="inner">
            <div class="web-desc-main">
                <div class="web-desc-text">Sketchtiles is a platform for sharing you art to the world. Post your sketches as "tiles", interact with tiles other "tilers" have posted, share you work across other platforms, and do much more.</div>
                <% if(username=="NA"){ %>
                    <div class="desc-account">Make an account to get started today. It's free, forever.</div>
                    <div class="desc-tip">Press the sign up button on the navigation menu to make an account.</div>
                <% } %>
            </div>&nbsp; <!--Dont remove-->
        </div>
    </section>
    <hr class="section-hr">
    <section class="posts">
        <div class="spinner">
            <div class="loader">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <div class="inner" >
            <h1 class="section-head" id="post-title">Posts</h1>
            <div class="click-div">
                <img src="" alt="" id="click-div-img">
                <div class="click-div-secondary">
                    <img src="" class="secondary-img">
                </div>
                <div class="likecomm">
                    <div id="click-div-user"></div>
                    <div class="click-div-desc"></div>
                    <div class="click-div-likes">
                        <span class="like-btn"><i class="fas fa-heart heart" ></i></span>
                        <span class="likes-number"></span>
                        <span class="share-container">
                            <span class="click-div-share" title="Share this post" data-clipboard-action="copy" data-clipboard-text=""><i class="fas fa-share-square"></i></span>
                            <span class="tooltip">Link copied to clipboard</span>
                        </span>
                    </div>
                    <div class="click-div-comments"></div>
                    <div class="comsub">
                        <textarea cols="30" rows="2" class="post-comment" placeholder="Add your comment here"></textarea>
                        <button class="post-submit" title="Post comment"><i class="fas fa-comment" id="comment-icon"></i></button>
                    </div>
                </div>

                <span id="click-div-close">&#10060;</span>
            </div>
            <!-- Header -->
            <!-- <div class="header" id="myHeader">
                <h3 class="ncolumns">Columns :</h3>
                <button class="btn" onclick="two()">2</button>
                <button class="btn active" onclick="four()">4</button>
            </div> -->

            <!-- Photo Grid -->
            <div class="row">
                <% if(recentPosts.length>11){ %>
                    <div class="column">
                        <% for(let i=0; i<3; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=3; i<6; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=6; i<9; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=9; i<12; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                <% }else{ %>
                    <% recentPosts.forEach((post)=>{ %>
                        <div class="column">
                                <img src="data:image/<%=post.img.contentType%>;base64,
                                <%=post.img.data.toString('base64')%>" style="width:100%" id="<%=post._id%>" class="click-img">
                        </div>
                    <% }) %>
                <% } %>
            </div>
            <div class="all-posts"><a href="/posts">Press here to see more &#8608;</a></div>

        </div>
    </section>
    <hr class="section-hr">
    <section class="top-posts">
        <div class="inner">
            <h1 class="section-head" id="tiles">Top Tiles</h1>
            <% if(topPosts.length>4){ %>
            <div class="top-post-left">
                <img src="data:image/<%=topPosts[0].img.contentType%>;base64,<%=topPosts[0].img.data.toString('base64')%>" id="<%=topPosts[0]._id%>" class="top-post-img">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[0].name%>"><%=topPosts[0].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[0].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-like-btn" id="<%=topPosts[0]._id%>"><i class="fas fa-heart top-heart"
                        <% if(username!="NA"){ %>
                            <% let ind=topPosts[0].likes.likers.indexOf(username) %>
                            <% if(ind>-1){ %>
                                style="color: red;"
                            <% }else{ %>
                                style="color: grey;"
                            <% } %>
                        <% }else{ %>
                            style="color: grey;"
                        <% } %>
                        ></i></span>
                        <span class="top-post-likes top-likes-number"><%=topPosts[0].likes.likesNum%></span>
                        <span class="share-container">
                            <span class="top-share" title="Share this post" data-clipboard-action="copy" data-clipboard-text="/tile/<%=topPosts[0]._id%>"><i class="fas fa-share-square"></i></span>
                            <span class="tooltip-top">Link copied to clipboard</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="top-post-right">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[1].name%>"><%=topPosts[1].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[1].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-like-btn" id="<%=topPosts[1]._id%>"><i class="fas fa-heart top-heart"
                        <% if(username!="NA"){ %>
                            <% let ind=topPosts[1].likes.likers.indexOf(username) %>
                            <% if(ind>-1){ %>
                                style="color: red;"
                            <% }else{ %>
                                style="color: grey;"
                            <% } %>
                        <% }else{ %>
                            style="color: grey;"
                        <% } %>
                        ></i></span>
                        <span class="top-post-likes top-likes-number"><%=topPosts[1].likes.likesNum%></span>
                        <span class="share-container">
                            <span class="top-share" title="Share this post" data-clipboard-action="copy" data-clipboard-text="/tile/<%=topPosts[1]._id%>"><i class="fas fa-share-square"></i></span>
                            <span class="tooltip-top">Link copied to clipboard</span>
                        </span>
                    </div>
                </div>
                <img src="data:image/<%=topPosts[1].img.contentType%>;base64,<%=topPosts[1].img.data.toString('base64')%>" id="<%=topPosts[1]._id%>" class="top-post-img">
            </div>
            <div class="top-post-left">
                <img src="data:image/<%=topPosts[2].img.contentType%>;base64,<%=topPosts[2].img.data.toString('base64')%>" id="<%=topPosts[2]._id%>" class="top-post-img">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[2].name%>"><%=topPosts[2].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[2].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-like-btn" id="<%=topPosts[2]._id%>"><i class="fas fa-heart top-heart"
                        <% if(username!="NA"){ %>
                            <% let ind=topPosts[2].likes.likers.indexOf(username) %>
                            <% if(ind>-1){ %>
                                style="color: red;"
                            <% }else{ %>
                                style="color: grey;"
                            <% } %>
                        <% }else{ %>
                            style="color: grey;"
                        <% } %>
                        ></i></span>
                        <span class="top-post-likes top-likes-number"><%=topPosts[2].likes.likesNum%></span>
                        <span class="share-container">
                            <span class="top-share" title="Share this post" data-clipboard-action="copy" data-clipboard-text="/tile/<%=topPosts[2]._id%>"><i class="fas fa-share-square"></i></span>
                            <span class="tooltip-top">Link copied to clipboard</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="top-post-right">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[3].name%>"><%=topPosts[3].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[3].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-like-btn" id="<%=topPosts[3]._id%>"><i class="fas fa-heart top-heart"
                        <% if(username!="NA"){ %>
                            <% let ind=topPosts[3].likes.likers.indexOf(username) %>
                            <% if(ind>-1){ %>
                                style="color: red;"
                            <% }else{ %>
                                style="color: grey;"
                            <% } %>
                        <% }else{ %>
                            style="color: grey;"
                        <% } %>
                        ></i></span>
                        <span class="top-post-likes top-likes-number"><%=topPosts[3].likes.likesNum%></span>
                        <span class="share-container">
                            <span class="top-share" title="Share this post" data-clipboard-action="copy" data-clipboard-text="/tile/<%=topPosts[3]._id%>"><i class="fas fa-share-square"></i></span>
                            <span class="tooltip-top">Link copied to clipboard</span>
                        </span>
                    </div>
                </div>
                <img src="data:image/<%=topPosts[3].img.contentType%>;base64,<%=topPosts[3].img.data.toString('base64')%>" id="<%=topPosts[3]._id%>" class="top-post-img">
            </div>
            <div class="top-post-left">
                <img src="data:image/<%=topPosts[4].img.contentType%>;base64,<%=topPosts[4].img.data.toString('base64')%>" id="<%=topPosts[4]._id%>" class="top-post-img">
                <div class="credits">
                    <div class="artist">By <a href="/profile/<%=topPosts[4].name%>"><%=topPosts[4].name%></a></div>
                    <div class="top-post-desc"><%=topPosts[4].desc%></div>
                    <div class="top-post-comments">
                        <span class="top-like-btn" id="<%=topPosts[4]._id%>"><i class="fas fa-heart top-heart"
                        <% if(username!="NA"){ %>
                            <% let ind=topPosts[4].likes.likers.indexOf(username) %>
                            <% if(ind>-1){ %>
                                style="color: red;"
                            <% }else{ %>
                                style="color: grey;"
                            <% } %>
                        <% }else{ %>
                            style="color: grey;"
                        <% } %>
                        ></i></span>
                        <span class="top-post-likes top-likes-number"><%=topPosts[4].likes.likesNum%></span>
                        <span class="share-container">
                            <span class="top-share" title="Share this post" data-clipboard-action="copy" data-clipboard-text="/tile/<%=topPosts[4]._id%>"><i class="fas fa-share-square"></i></span>
                            <span class="tooltip-top">Link copied to clipboard</span>
                        </span>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </section>
    <hr class="section-hr">
    <section class="submit">
        <div class="inner">
          <h1  id="posting">Make a tile</h1>
          <div class="submit-main">
              <form action="/submit" method="post" enctype=multipart/form-data id="submit-form">
                  <label for="post-img" id="post-label"><i class="fa fa-cloud-upload"></i> Pick Artwork </label>
                  <input type='file' id="post-img" name="work" accept="image/*" required>
                  <img id="preview" src="#" alt="">
                  <textarea cols="30" rows="2" placeholder="Give a caption to your tile" id="sub-desc" name="desc"
                      required></textarea>
                  <button type="submit" class="sub-btn">Create</button>
              </form>
          </div>
        </div>
    </section>
    <hr class="section-hr">
    <footer>
        <div class="inner">
            <div class="foot-text">
                &copy;Sketchmarks
            </div>
            <div class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
            </div>
        </div>

    </footer>
    <div class="nav-btm">
        <div class="home-nav navbtm-icon">
            <a href="/#land-name"><i class="fas fa-home"></i></a>
        </div>


        <div class="add-nav navbtm-icon">
            <a href="#posting"><i class="fas fa-plus-square"></i></a>
        </div>
        <div class="posts-nav navbtm-icon">
            <a href="/posts"><i class="fas fa-images"></i></a>
        </div>
        <div class="profile-nav navbtm-icon">
            <a
            <% if(username!="NA"){ %>
                href="/profile/<%=username%>"
            <% }else{ %>
                href="/login"
            <% } %>
            ><i class="fas fa-user-circle"></i></a>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>
