<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="icon" href="/img/fav.png" type="image/x-icon"/>
    <link rel="shortcut icon" href="/img/fav.png" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Great+Vibes&display=swap&display=swap&family=Work+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <nav class="navbar">
        <div class="inner">
            <a href="/" class="brand">Sketchtiles</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/" class="navtop-home">Home</a>
                <a href="/posts">Posts</a>
                <a href="/about">About</a>
                <a href="/login" class="login" style="display: <%=loginDisplay%>;">Log In</a>
                <a href="/signup" class="signup" style="display: <%=signupDisplay%>;">Sign Up</a>
                <a href="/profile/<%=username%>" style="display: <%=profileDisplay%>;">Profile</a>
                <a href="/logout" class="logout" style="display: <%=logoutDisplay%>;">Log Out</a>

            </div>
        </div>
    </nav>

    <div class="posts posts-page" style="padding-bottom:10px">
        <div class="inner">
            <h1 class="section-head1" id="post-title">All tiles</h1>
            <h2 class="posts-subheading">This page contains all the tiles posted, sorted by most recent first.</h2>
            <div class="click-div">
                <img src="" alt="" id="click-div-img">
                <div class="likecomm">
                    <div id="click-div-user"></div>
                    <div class="click-div-desc"></div>
                    <div class="click-div-likes">
                        <span class="like-btn"><i class="fas fa-heart" id="heart"></i></span>
                        <span class="likes-number"></span>
                        <span class="click-div-share" data-clipboard-action="copy" data-clipboard-text=""><i class="fas fa-share-square"></i></span>
                    </div>
                    <div class="click-div-comments"></div>
                    <div class="comsub">
                        <textarea cols="30" rows="2" class="post-comment" placeholder="Add your comment here"></textarea>
                        <button class="post-submit"><i class="fas fa-comment" id="comment-icon"></i></button>
                    </div>
                </div>

                <span id="click-div-close">&#10060;</span>
            </div>
            <div class="row">
                <% if(recentPosts.length>11){ %>
                    <div class="column">
                        <% for(let i=0; i<Math.floor(recentPosts.length/4); i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=Math.floor(recentPosts.length/4); i<Math.floor(recentPosts.length/2); i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=Math.floor(recentPosts.length/2); i<Math.floor(recentPosts.length/4*3); i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=Math.floor(recentPosts.length/4*3); i<recentPosts.length; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                <% }else{ %>
                    <% recentPosts.forEach((post)=>{ %>
                        <div class="column">
                                <img src="data:image/<%=post.img.contentType%>;base64,
                                <%=post.img.data.toString('base64')%>" style="width:100%" id="<%=post._id%>" class="click-img">
                        </div>
                    <% }) %>
                <% } %>

        </div>
    </div>

    <footer>
        <div class="inner">
            <div class="foot-text">
                &copy; Sketchtiles
            </div>
            <div class="icons">
                Made with ❤️ by Shrutanten, Arijit and Shubham
            </div>
        </div>

    </footer>
    <div class="nav-btm">
        <div class="profile-nav navbtm-icon">
            <a <% if(username!="NA"){ %> href="/profile/<%=username%>" <% }else{ %> href="/login" <% } %>><i class="fas fa-user-circle"></i></a>
        </div>
        <div class="posts-nav navbtm-icon">
            <a href="/posts"><i class="fas fa-images"></i></a>
        </div>
        <div class="add-nav navbtm-icon">
            <a href="/#posting"><i class="fas fa-plus-square"></i></a>
        </div>
        <div class="home-nav navbtm-icon">
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
    </body>

    </html>
