<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Great+Vibes&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css">

</head>

<body>
    <nav class="navbar">
        <div class="inner">
            <a class="brand">Sketchmarks</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/">Artists</a>
                <a href="/posts">Posts</a>
                <a href="/login" class="login" style="display: <%=loginDisplay%>;">Log In</a>
                <a href="/signup" class="signup" style="display: <%=signupDisplay%>;">Sign Up</a>
                <a href="/profile/<%=username%>" style="display: <%=profileDisplay%>;">Profile</a>
                <a href="/logout" class="logout" style="display: <%=logoutDisplay%>;">Log Out</a>

            </div>
        </div>
    </nav>

    <div class="posts">
        <div class="inner">
            <h1 class="section-head">Posts</h1>
            <!-- <img src="../img/unnamed.png" alt=""  width="100%" class="br"> -->
            <div class="click-div">    
                <img src="" alt="" id="click-div-img">
                <div class="likecomm">
                    <div id="click-div-user"></div>
                    <div class="click-div-desc"></div>
                    <div class="click-div-likes">
                        <span class="like-btn"><i class="fas fa-heart" id="heart"></i></span>
                        <span class="likes-number"></span>
                        <span class="click-div-share" data-clipboard-action="copy" data-clipboard-text=""><i class="fas fa-share-square"></i></span>
                    </div>
                    <div class="click-div-comments"></div>
                    <div class="comsub">
                        <textarea cols="30" rows="2" class="post-comment" placeholder="Add your comment here"></textarea>
                        <button class="post-submit"><i class="fas fa-comment" id="comment-icon"></i></button>
                    </div>
                </div>

                <span id="click-div-close">&#10060;</span>
            </div>
            <!-- Header -->
            <!-- <div class="header" id="myHeader">
                <h3 class="ncolumns">Columns :</h3>
                <button class="btn" onclick="two()">2</button>
                <button class="btn active" onclick="four()">4</button>
            </div> -->

            <!-- Photo Grid -->
            <div class="row">
                <% if(recentPosts.length>11){ %>
                    <div class="column">
                        <% for(let i=0; i<Math.floor(recentPosts.length/4); i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=Math.floor(recentPosts.length/4); i<Math.floor(recentPosts.length/2); i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=Math.floor(recentPosts.length/2); i<Math.floor(recentPosts.length/4*3); i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=Math.floor(recentPosts.length/4*3); i<recentPosts.length; i++){ %>
                            <img src="data:image/<%=recentPosts[i].img.contentType%>;base64,
                            <%=recentPosts[i].img.data.toString('base64')%>" style="width:100%" id="<%=recentPosts[i]._id%>" class="click-img">
                        <% } %>
                    </div>
                <% }else{ %>
                    <% recentPosts.forEach((post)=>{ %>
                        <div class="column">
                                <img src="data:image/<%=post.img.contentType%>;base64,
                                <%=post.img.data.toString('base64')%>" style="width:100%" id="<%=post._id%>" class="click-img">
                        </div>
                    <% }) %>
                <% } %>

        </div>
    </div>

    <footer>
        <div class="inner">
            <hr>
            <div class="foot-text">
                &copy; 6969 Sexy Corporation
            </div>
            <div class="icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>

            </div>
        </div>

    </footer>

    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/home.js"></script>
    </body>

    </html>