<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Noto+Sans:wght@700&display=swap&family=Work+Sans&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>

    <nav class="navbar">
        <div class="inner-width">
            <a href="/" class="brand">Sketchtiles</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/" class="navtop-home">Home</a>
                <a href="/posts">Posts</a>
                <a href="/about">About</a>
                <a href="/login" class="login" style="display: <%=loginDisplay%>;">Log In</a>
                <a href="/signup" class="signup" style="display: <%=signupDisplay%>;">Sign Up</a>
                <a href="/profile/<%=username%>" style="display: <%=profileDisplay%>;">Profile</a>
                <a href="/logout" class="logout" style="display: <%=logoutDisplay%>;">Log Out</a>
                
            </div>
        </div>
    </nav>
    <% if(sameUser){ %>
        <section class="add-post">
            <div class="new-post-div">
                <form action="/submit" method="post" enctype=multipart/form-data id="submit-form">
                    <label for="post-img" id="post-label"><i class="fa fa-cloud-upload"></i> Pick Artwork </label>
                    <input type='file' id="post-img" name="work" accept="image/*" required>
                    <img id="preview" src="#" alt="">
                    <textarea cols="30" rows="2" placeholder="Give a caption to your tile" id="sub-desc" name="desc"
                        required></textarea>
                    <button type="submit" class="sub-btn">Create</button>
                </form>
                <span class="new-post-close">&#10060;</span>
            </div>
        </section>
        <div class="add-postbtm">
            <i class="fas fa-plus"></i>
        </div>
    <% } %>
    <div class="grid-container">
        <div class="profile">

            <div class="profile-inner">
                <!-- <img src="./images/bg.jpg" class="pfp" alt="Profile Pic"> -->
                
                <div class="pfp-container">
                    <% if(sameUser){ %>
                        <a href="/profilephoto" class="change-pfp"><i class="fas fa-edit"></i></a>
                    <% } %>
                    <% if(pfp.contentType=="None"){ %>
                        <img src="/img/pfp.jpg">
                    <% }else{ %>
                        <img src="data:image/<%=pfp.contentType%>;base64,<%=pfp.data.toString('base64')%>" class="pfp" alt="">
                    <% } %>
                </div>
                <h1><%= username %></h1>
                <h2 class="about"><%= about %> </h2>
                <h2 class="insta"><i class="fab fa-instagram"></i> : <%= contact %> </h2>
            </div>

        </div>
        <div class="content">
            <div class="spinner">
                <div class="loader">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
            <div class="click-div">    
                <img src="" alt="" id="click-div-img">
                <div class="click-div-secondary">
                    <img src="" class="secondary-img">
                </div>
                <div class="likecomm">
                    <div id="click-div-user"></div>
                    <div class="click-div-desc"></div>
                    <div class="click-div-likes">
                        <span class="like-btn"><i class="fas fa-heart heart"></i></span>
                        <span class="likes-number"></span>
                        <span class="share-container">
                            <span class="click-div-share" title="Share this post" data-clipboard-action="copy" data-clipboard-text=""><i class="fas fa-share-square"></i></span>
                            <span class="tooltip">Link copied to clipboard</span>
                        </span>
                        <% if(sameUser){ %>
                        <span id="click-div-delete" title="Delete this post"><i class="fas fa-trash-alt" id="dustbin"></i></span>
                        <% } %>
                    </div>
                    <div class="click-div-comments"></div>
                    <div class="comsub">
                        <textarea cols="30" rows="2" class="post-comment" placeholder="Add your comment here"></textarea>
                        <button class="post-submit" title="Post comment"><i class="fas fa-comment" id="comment-icon"></i></button>
                    </div>
                </div>
                <span id="click-div-close">&#10060;</span>
            </div>
            <div class="title"><%= username %>'s art gallery</div>
            <% if(works.length>0){ %>
                <div class="row">               
                    <div class="column">
                        <% for(let i=0; i<Math.floor(works.length/3); i++){ %>
                            <img src="data:image/<%=works[i].img.contentType%>;base64,<%=works[i].img.data.toString('base64')%>" style="width: 100%;" class="click-img" id="<%=works[i]._id%>" alt="">
                        <% } %>
                    </div>
                    <div class="column">
                        <% for(let i=Math.floor(works.length/3); i<Math.floor(works.length/3*2); i++){ %>
                            <img src="data:image/<%=works[i].img.contentType%>;base64,<%=works[i].img.data.toString('base64')%>" style="width: 100%;" class="click-img" id="<%=works[i]._id%>" alt="">
                            <% } %>
                        </div>
                        <div class="column">
                        <% for(let i=Math.floor(works.length/3*2); i<works.length; i++){ %>
                            <img src="data:image/<%=works[i].img.contentType%>;base64,<%=works[i].img.data.toString('base64')%>" style="width: 100%;" class="click-img" id="<%=works[i]._id%>" alt="">
                        <% } %>
                    </div>
                </div>
                <% }else{ %>
                    <% if(sameUser){ %>
                        <div class="empty"><h2>Your gallery is empty.</h2>
                            <h3>Make your first post by pressing the + button.</h3>
                        </div>
                    <% }else{ %>
                        <div class="empty"><h2>User gallery is empty.</h2></div>
                    <% } %>
                <% } %>
            
            <footer>
                <div class="inner">
                    <!-- <hr> -->
                    <div class="foot-text">
                        &copy;Sketchmarks
                    </div>
                    <div class="icons">
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-facebook"></i>
                        <i class="fab fa-facebook"></i>
                    </div>
                </div>

            </footer>
        </div>
    </div>
     
     <div class="nav-btm">
         <div class="home-nav navbtm-icon">
             <a href="/"><i class="fas fa-home"></i></a>
         </div>
        
         <div class="add-nav navbtm-icon">
             <a href="#submit-form"><i class="fas fa-plus-square"></i></a>
         </div>
         <div class="posts-nav navbtm-icon">
             <a href="/posts"><i class="fas fa-images"></i></a>
         </div>
         <div class="profile-nav navbtm-icon">
             <a <% if(username!="NA"){ %> href="/profile/<%=username%>" <% }else{ %> href="/login" <% } %>><i
                     class="fas fa-user-circle"></i></a>
         </div>
     </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
    <script src="/js/profile.js"></script>
</body>

</html>