<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/profile.css">
</head>

<body>

    <nav class="navbar">
        <div class="inner-width">
            <a class="brand">Sketchmarks</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/">Home</a>
                <a href="/">About</a>
                <a href="/">Contributors</a>
                <a href="/">Posts</a>
                
            </div>
        </div>
    </nav>
    <div class="grid-container">
        <div class="profile">


            <!-- <img src="./images/bg.jpg" class="pfp" alt="Profile Pic"> -->
            <h1><%= username %></h1>
            <h2><%= about %> </h2>
            <h2><%= contact %> </h2>
            <% if(sameUser){ %>
                <div class="submit-main">
                    <form action="/submit" method="post" enctype=multipart/form-data id="submit-form">
                        <input type="text" placeholder="Describe your work" id="sub-desc" name="desc" required>
                        <label for="post-img" id="post-label">Upload your work</label>
                        <input type='file' id="post-img" name="work" accept="image/*" required>
                        <img id="preview" src="#" alt="&lt;your image will appear here&gt;">
                        <button type="submit" class="sub-btn">Submit</button>
                    </form>
                </div>
            <% } %>

        </div>
        <div class="content">
            
            <div class="click-div">
                <div class="imgajax">
                    <img src="" alt="" id="click-div-img">
                </div>
                <div class="likecomm">
                    <div id="click-div-user"></div>
                    <% if(sameUser){ %>
                    <div id="click-div-delete">DELETE</div>
                    <% } %>
                    <div class="click-div-likes">
                        <span class="like-btn"><i class="fas fa-heart" id="heart"></i></span>
                        <span class="likes-number"></span>
                    </div>
                    <div class="click-div-comments"></div>
                    <div class="comsub">
                        <textarea id="" cols="30" rows="2" class="post-comment"
                            placeholder="Add your comment here"></textarea>
                        <button class="post-submit">Submit</button>
                    </div>
                </div>

                <span id="click-div-close">&#10060;</span>
            </div>
            <div class="row">
                <div class="column">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSEZAbH2MIA7EoWrEHTb_nsgPLHc2OmJWDf-Uos_sJN42FgtUn&s"
                        style="width:100%" class="click-img">
                    <img src="https://images.adsttc.com/media/images/5b74/3c09/f197/cc47/f600/006c/newsletter/NORM-LI_180812_4_AERIAL_F_04.jpg?1534344187"
                        style="width:100%" class="click-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhPM4CTCdlaD6CXS0Bqk1SR__1P-E1S6YKskZMrfo-euo6YyE&s"
                        style="width:100%" class="click-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFCrcJ2jRcfyydpdqSR1CMKAFNlyKaNEcUX5_eVhz8ibiJzCcp&s"
                        style="width:100%" class="click-img">
                </div>
                <div class="column">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSEZAbH2MIA7EoWrEHTb_nsgPLHc2OmJWDf-Uos_sJN42FgtUn&s"
                        style="width:100%" class="click-img">
                    <img src="https://www.evolo.us/wp-content/uploads/2019/04/0516-0.jpg" style="width:100%"
                        class="click-img">
                    <img src="https://thecustomizewindows.com/wp-content/uploads/2013/05/Horizontal-Lines-in-Composition.jpg"
                        style="width:100%" class="click-img">
                    <img src="https://images.unsplash.com/photo-1526512340740-9217d0159da9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                        style="width:100%" class="click-img">
                </div>
                <div class="column">
                    <img src="https://thumbs.dreamstime.com/z/black-white-vertical-new-york-flatiron-building-stands-right-heart-manhattan-intersection-two-famous-nyc-landmarks-45486075.jpg"
                        style="width:100%" class="click-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDh-bXWweyAn8cNAqpc6EAjpQrEZk9wILEwpwW9RG1ltjRi1cm&s"
                        style="width:100%" class="click-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8d22dI4UU3OxIyTQkjVve0hZb4f_k6FnN7r-K9EyrntFp5ww&s"
                        style="width:100%" class="click-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-SWQFMDvrjgK18CxneKvQVOS7abY9SIuaKc9RPS6GBwBsN6o&s"
                        style="width:100%" class="click-img">
                </div>
                <div class="column">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWxpohRoS0LkKy3fI3dYx2EGnrt8xK1aoh3ZDZ9TyjKr0TRns&s"
                        style="width:100%" class="click-img">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGSuikWgQRgaE4OU4Zs3_je7ELKTzHrtdmnjIu_9fqKlNCBbME&s"
                        style="width:100%" class="click-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Untersberg_Mountain_Salzburg_Austria_Landscape_Photography_%28256594075%29.jpeg"
                        style="width:100%" class="click-img">
                    <img src="https://www.wsp.com/-/media/Project/Global/Image/Petronas-towers-exterior-view-facades.jpg?h=750&la=en-CN&w=530&hash=DB2452BC971DB24487D0487F514D62B18E8B2970"
                        style="width:100%" class="click-img">
                </div>
            </div>
            <div class="title">Gallery</div>
            <div class="gallery">

                <% if(works.length>0){ %>
                <% works.forEach((work)=>{ %>
                <img src="data:image/<%=work.img.contentType%>;base64, 
                        <%=work.img.data.toString('base64')%>" class="gal-img" id="<%=work._id%>" alt="">
                <% }) %>
                <% }else{ %>
                <div>You have not uploaded anything</div>
                <% } %>
                

            </div>
        </div>
    </div>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="../js/profile.js"></script>
</body>

</html>