<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tile</title>
    <link rel="stylesheet" href="/css/tile.css">
</head>
<body>
    <div class="main">
        <div class="tile">
            <div class="tile-div">
                <img src="data:image/<%=tile.img.contentType%>;base64,<%=tile.img.data.toString('base64')%>" id="<%=tile._id%>" class="tile-img">
    
            </div>
        </div>
        <div class="comments-section">
            <div class="comment-div">
                <a href="/profile/<%=tile.name%>" class="author">By <%=tile.name%></a>
                <h2 class="desc"><%=tile.desc%></h2>
                <div class="click-div-comments">
                    <% tile.comments.forEach((comment)=>{ %>
                        <div class="comment">
                            <a href="/profile/<%=comment.name%>" class="commenter"><%=comment.name%></a> says <span><%=comment.comment%></span>
                        </div>
                    <% }) %>
                </div>
                <textarea class="comment-area" cols="30" rows="3" placeholder="Add your comment here"></textarea>
                <button class="sub-btn">Submit</button>
            </div>
        </div>
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/tile.js"></script>
</body>
</html>