<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tile</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Great+Vibes&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/tile.css">
</head>
<body>
    <div class="main">
        <a href="/profile/<%=tile.name%>" class="author">By <%=tile.name%></a>
        <div class="tile">
            
            <div class="tile-div">

                <img src="data:image/<%=tile.img.contentType%>;base64,<%=tile.img.data.toString('base64')%>" id="<%=tile._id%>" class="tile-img">
    
            </div>
        </div>
        <div class="comments-section">
            <div class="comment-div">
                <h2 class="desc"><%=tile.desc%></h2>
                <div class="click-div-likes">
                    <span class="like-btn"><i class="fas fa-heart" id="heart"
                    <% if(colour){ %>
                        style="color: red;"
                    <% }else{ %>
                        style="color: grey;"
                    <% } %>
                    ></i></span>
                    <span class="likes-number"><%=tile.likes.likesNum%></span>
                    <span class="click-div-share" data-clipboard-action="copy" data-clipboard-text="/tile/<%=tile._id%>"><i class="fas fa-share-square"></i></span>
                    <% if(sameUser){ %>
                        <span id="click-div-delete"><i class="fas fa-trash-alt" id="dustbin"></i></span>
                    <% } %>
                </div>
                <div class="click-div-comments">
                    <% tile.comments.forEach((comment)=>{ %>
                        <div class="comment">
                            <a href="/profile/<%=comment.name%>" class="commenter"><%=comment.name%></a> says <span><%=comment.comment%></span>
                        </div>
                    <% }) %>
                </div>
                
            </div>
        </div>
    </div>
    <div class="submit">
        <textarea class="comment-area" cols="100" rows="1" placeholder="Add your comment here"></textarea>
        <button class="sub-btn"><i class="fas fa-comment" id="comment-icon"></i></button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
    <script src="/js/tile.js"></script>
</body>
</html>