<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tile</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Alata&family=Alice&family=Eczar:wght@600&display=swap&family=Pacifico&display=swap&family=Dancing+Script:wght@700&display=swap&family=Ubuntu:wght@500&display=swap&family=Great+Vibes&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/tile.css">
</head>
<body>
    <nav class="navbar">
        <div class="inner">
            <a class="brand">Sketchmarks</a>
            <button class="menu-toggler">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="navbar-menu">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/">Artists</a>
                <a href="/posts">Posts</a>
                <!-- <a href="/login" class="login" style="display: <%=//loginDisplay%>;">Log In</a>
                <a href="/signup" class="signup" style="display: <%=//signupDisplay%>;">Sign Up</a>
                <a href="/profile/<%=//username%>" style="display: <%=//profileDisplay%>;">Profile</a>
                <a href="/logout" class="logout" style="display: <%=//logoutDisplay%>;">Log Out</a> -->

            </div>
        </div>
    </nav>
    <div class="inner">
        <div class="main">
            <a href="/profile/<%=tile.name%>" class="author">By <%=tile.name%></a>
            <div class="tile">
                <img src="data:image/<%=tile.img.contentType%>;base64,<%=tile.img.data.toString('base64')%>" id="<%=tile._id%>" class="tile-img">

            </div>
            <div class="comments-section">
                <div class="comment-div">
                    <h2 class="desc"><%=tile.desc%></h2>
                    <div class="click-div-likes">
                        <span class="like-btn"><i id="heart"
                        <% if(colour){ %>
                            style="color: red;"
                            class="fas fa-heart"
                        <% }else{ %>
                            style="color: grey;"
                            class="far fa-heart"
                        <% } %>
                        ></i></span>
                        <span class="likes-number"><%=tile.likes.likesNum%></span>
                        <span class="share-container">
                            <span class="click-div-share" data-clipboard-action="copy" data-clipboard-text="/tile/<%=tile._id%>" title="Share this post"><i class="far fa-share-square"></i></span>
                            <span class="tooltip">Link copied to clipboard</span>
                        </span>
                        <% if(sameUser){ %>
                            <span id="click-div-delete"><i class="far fa-trash-alt" id="dustbin" title="Delete this post"></i></span>
                        <% } %>
                    </div>
                    <div class="click-div-comments">
                        <% tile.comments.forEach((comment)=>{ %>
                            <div class="comment">
                                <a href="/profile/<%=comment.name%>" class="commenter"><%=comment.name%></a> says <span><%=comment.comment%></span>&nbsp;
                                <% if(comment.name==viewer){ %>
                                    <i class="fas fa-trash delete-comment" title="Delete this comment"></i>
                                <% } %>
                            </div>
                        <% }) %>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="submit">
        <textarea class="comment-area" cols="30" rows="1" placeholder="Add your comment here"></textarea>
        <button class="sub-btn"><i class="far fa-comment" id="comment-icon" title="Post comment"></i></button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
    <script src="https://kit.fontawesome.com/67a49e1ba0.js" crossorigin="anonymous"></script>
    <script src="/js/tile.js"></script>
</body>
</html>
